#navbar-container {
  padding: 1.6rem 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#links {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  font-weight: 500;
}

.icon-container {
  border-radius: 6px;
  padding: 6px;
  width: fit-content;
  margin-bottom: 12px;
}

.card-title {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.45px;
  margin-bottom: 4px;
  color: #000;
}

.card-desc {
  color: #2e2f38;
  width: 75%;
}

.card-element {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.33px solid #ffd899;
  border-radius: 12px;
  width: 270px;
  padding: 16px;
}

.card-group-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 200px;
}

.title {
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.27px;
  margin-bottom: 8px;
}

#footer-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 1.6rem 14rem;
  margin-top: 10rem;
}

#links {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #2e2f38;
}

#countries-list {
  width: 33%;
}

#countries-list > div {
  margin-bottom: 16px;
}
